.BrandPromise-main {
  background-image: url("../../../assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 0px 40px; */
}



.promise-header {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 40px;
}

.promise-header h5 {
  font-size: 23px;
  color: #8b6b4a;
  padding-bottom: 0px;
  font-family: 'Beverly';
  font-weight: normal;

}

.promise-header h2 {
  font-size: 48px;
  font-weight: normal;
  color: #3b2a1a;
  font-family: 'Beverly';

}




.promise-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-left: 50px;
}


.features {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
  max-width: 350px;
}


.feature {
  display: flex;
  flex-direction: column;  
  align-items: flex-start;     
  text-align: left;      
  gap: 10px;
  color: rgba(92, 56, 17, 1);
}

.icon1 {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.icon-content h4{
  font-size: 18px;
  color: rgba(92, 56, 17, 1);
  margin: 0;
   font-family: 'Poppins';
   font-weight: normal;
}

.icon-content p {
  font-size: 14px;
  color: rgba(92, 56, 17, 1);
  margin: 0;
   font-family: 'Poppins';
   font-weight: normal;
}
 
.building {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.building img {
  height: 450px;
  object-fit: contain;
}



@media (max-width: 1024px) {
  .promise-content {
    gap: 40px;
  padding-left: 0px;

  }

  .building img {
    height: 380px;
  }

  .promise-header h2 {
    font-size: 34px;
  }
}


@media (max-width: 992px) {
  .BrandPromise-main {
    padding: 0px 25px;
  }

  .promise-content {
    gap: 30px;
  }

  .features {
    max-width: 300px;
  }

  .building img {
    height: 320px;
  }

  .promise-header h2 {
    font-size: 30px;
  }
}



@media (max-width: 767px) {

  .building {
    display: none;
  }

  .promise-content {
    flex-direction: column;
    gap: 25px;
  }

  .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 25px;
    max-width: 100%;
  }

  .feature {
    align-items: center;
    text-align: center;
    padding: 12px;
  }

  .feature:last-child {
    grid-column: 1 / -1;  
    justify-self: center; 
    max-width: 60%;       
  }

  .icon1 {
    width: 34px;
    height: 34px;
  }

  .icon-content h4 {
    font-size: 15px;
  }

  .icon-content p {
    font-size: 12px;
  }
}



@media (max-width: 552px) {
  .BrandPromise-main {
    padding: 40px 15px;
  }

  .promise-header{
    padding-top: 5px;
  }

  .promise-header h5 {
    font-size: 12px;
  }

  .promise-header h2 {
    font-size: 22px;
  }

  .building img {
    height: 220px;
  }

  .feature {
    gap: 8px;
  }

  .icon1 {
    width: 32px;
    height: 32px;
  }

  .bottom-text{
/* padding-bottom: 20px;  */
 }
}