.hero-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-swiper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.slide {
  width: 100%;
  height: 100vh;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 9999;

  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.custom-prev {
  left: 20px;
}

.custom-next {
  right: 20px;
}

.custom-prev svg {
  transform: rotate(180deg);
}

.custom-prev svg,
.custom-next svg {
  width: 30px;
  height: 30px;
  color: #8b5e34; 
}

.custom-prev:hover,
.custom-next:hover {
  transform: translateY(-50%) scale(1.1);
}



@media (max-width: 1024px) {

  .hero-container,
  .slide {
    height: 80vh;
  }

  .custom-prev,
  .custom-next {
    width: 40px;
    height: 40px;
  }

  .custom-prev svg,
  .custom-next svg {
    width: 24px;
    height: 24px;
  }
}


@media (max-width: 768px) {

  .hero-container,
  .slide {
    height: 50vh; 
  }

  .custom-prev,
  .custom-next {
    width: 35px;
    height: 35px;
  }

  .custom-prev svg,
  .custom-next svg {
    width: 20px;
    height: 20px;
  }

  .custom-prev {
    left: 10px;
  }

  .custom-next {
    right: 10px;
  }
}


@media (max-width: 480px) {

  .hero-container,
  .slide {
    height: 50vh; 
  }

  .custom-prev,
  .custom-next {
    width: 30px;
    height: 30px;
  }

  .custom-prev svg,
  .custom-next svg {
    width: 18px;
    height: 18px;
  }
}